################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmployeeData/v16
/EmployeeData/obj
/EmployeeData.Db/obj
/EmployeeData.Repositories/obj
/EmployeeData.Services/obj
